
@font-face {
    font-family: 'YRDZSTRegular';
    src: url('YRDZSTRegular.eot');
    src: url('YRDZSTRegular.eot?#iefix') format('embedded-opentype'),  
        url('YRDZSTRegular.woff') format('woff'),
        url('YRDZSTRegular.ttf') format('truetype'),
        url('YRDZSTRegular.svg#YRDZSTRegular') format('svg');
}
/* 搜索页面 */
.searchBox{
    padding: 1.45rem .2rem 0;
}
.searchBox form{
    margin-bottom: 0.3rem;
}
.searchBox form select{
    float: left;
    width: 1.26rem;
    height: .58rem;
    border: 1px solid #ccc;
    font-size: 0.22rem;
}
.searchBox form .search{
    float: left;
    width: 5.22rem;
    height: .58rem;
    padding: 0 .2rem;
    font-size: 0.22rem;
    border: 1px solid #ccc;
    border-right: 0px solid #000;
    border-left: 0px solid #000;
    box-sizing: border-box;
    outline: none;
}
.searchBox form .searchBtn{
    float: left;
    width: 0.6rem;
    height: .58rem;
    padding: 0 .2rem;
    font-size: 0.22rem;
    border-width: 0;
    background: url(../img/searchBtn.png) no-repeat center center #d10e20;
    background-size: 0.28rem .26rem;
    outline: none;
}
.searchBox .searchMain{
    padding: 0 .2rem;
    border-top: 1px solid #e5e5e5;
}
.searchBox .searchMain .mainItem{
    display: block;
    position: relative;
    overflow: hidden;
    padding: .2rem 0;
    border-bottom: 1px solid #e5e5e5;
}
.searchBox .searchMain .mainItem .itemLeft{
    float: left;
    width: 50%;
}
.searchBox .searchMain .mainItem .itemLeft img{
    display: block;
    width: 3.15rem;
    height: 1.69rem;
}
.searchBox .searchMain .mainItem .itemRight{
    float: left;
    width: 50%;
}
.searchBox .searchMain .mainItem .itemRight .itemTitle{
    font-size: 0.26rem;
    line-height: 0.38rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.04rem;
}
.searchBox .searchMain .mainItem .itemRight .itemCont{
    font-size: 0.20rem;
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.searchBox .searchMain .mainItem .link{
    position: absolute;
    bottom: 0.2rem;
    right: 0;
}
.searchBox .searchMain .mainItem .link span{
    display: block;
    width: 1.18rem;
    height: 0.4rem;
    line-height: .4rem;
    text-align: center;
    border: 1px solid #d10e20;
    font-size: 0.2rem;
    color: #d10e20;
    border-radius: 5px;
}
.lunbo{
    width: 7.5rem;
    margin: 0 auto;
    padding-top: 1.15rem;
}
.lunbo .swiper-container{
    width: 7.5rem;
    height: 4.01rem;
}
.lunbo .swiper-container img{
    width: 100%;
}

/* 主页 */
.indexPage{
    width: 7.5rem;
    margin: 0 auto;
    background: #f8f8f8;
    padding-bottom: .3rem;
}
/* 行业专注 */
.page{
    width: 7.3rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: .2rem 0 0;
}
.page .inner{
    width: 100%;
    background: #fff;
    padding: .25rem .2rem .1rem;
    box-sizing: border-box;
    border-radius: 10px;
}
.page .innerHeader{
    overflow: hidden;
    padding-bottom: .1rem;
    border-bottom: 1px solid #f1f1f1;
}
.page .innerHeader .title{
    float: left;
    font-size: 0.3rem;
    color: #333333;
}
.page .innerHeader .title .Eg{
    font-size: 0.24rem;
    color: #666;
}
.page .innerHeader .title.hot{
    padding-left: .36rem;
    background: url(../img/fire.png) no-repeat left center;
    background-size: .24rem .27rem;
}
.page .innerHeader.noBd{
    border-color: #fff;
}
.page .innerHeader .more{
    float: right;
}
.page .innerHeader .more a{
    display: block;
    font-size: 0.24rem;
    color: #999999;
    padding-right: .15rem;
    background: url(../img/icon_right.png) no-repeat right center;
    background-size: .07rem .13rem;
}
.page .innerHeader .innerNav{
    float: right;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.page .innerHeader .innerNav a{
    display: inline-block;
    color: #333;
    border-bottom: 1px solid #fff;
    padding-bottom: .1rem;
    font-size: 0.24rem;
}
.page .innerHeader .innerNav a.action{
    color: #d10e20;
    border-bottom: 1px solid #d10e20;
}
.page .pageLink{
    padding: .3rem 0;
}
.page .pageLink a{
    display: block;
    width: 3.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-size: 0.24rem;
    color: #fa6071;
    border: 1px solid #fdcaca;
    padding-right: .26rem;
    background: url(../img/yjt.png) no-repeat 2.59rem center #fff7f7;
    background-size: .24rem;
    box-sizing: border-box;
    margin: 0 auto;
}
.page1 .inner{
    padding: .42rem .1rem 0;
}
.page1 .page1Main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page1 .page1Main .mainItem{
    width: 50%;
    margin-bottom: 0.45rem;
}
.page1 .page1Main .mainItem .itemImg{
    float: left;
    width: .74rem;
    height: .79rem;
    margin-right: .15rem;
}
.page1 .page1Main .mainItem .itemImg img{
    width: 100%;
    height: 100%;
    display: block;
}
.page1 .page1Main .mainItem .itemText{
    float: left;
    width: 2.64rem;
    height: 100%;
}
.page1 .page1Main .mainItem .itemText .container{
    width: 100%;
}
.page1 .page1Main .mainItem .itemText .container .itemTitle{
    width: 100%;
    font-size: 0.26rem;
    color: #333;
    line-height: 0.40rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page1 .page1Main .mainItem .itemText .container .itemCont{
    width: 100%;
    font-size: 0.22rem;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 热门推荐、华星动态 */
.page2{
}
.page .hotMain{
}
.page .hotMain a{
    display: block;
    border-bottom: 1px dashed #f1f1f1;
}
.page .hotMain .firstItem{
    padding: .1rem 0;
}
.page .hotMain .firstItem .itemImg{
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 1.63rem;
    margin-right: 0.28rem;
}
.page .hotMain .firstItem .itemImg img{
    width: 100%;
    height: 100%;
}
.page .hotMain .firstItem .itemText{
    display: inline-block;
    vertical-align: middle;
}
.page .hotMain .firstItem .itemText .itemTitle{
    max-width: 3.9rem;
    font-size: 0.26rem;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.3rem;
}
.page .hotMain .firstItem .itemText .itemTime{
    font-size: 0.24rem;
    color: #666666;
}
.page .hotMain .item{
    position: relative;
    padding: .1rem 0 .1rem .2rem;
    overflow: hidden;
}
.page .hotMain .item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: .05rem;
    height: .05rem;
    background: #ccc;
    border-radius: 50%;
}
.page .hotMain .item .itemTitle{
    float: left;
    max-width: 5rem;
    font-size: 0.26rem;
    line-height: .5rem;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.page .hotMain .item .itemTime{
    float: right;
    font-size: 0.24rem;
    line-height: .5rem;
    color: #666666;
}

/* 产品服务 */
.page3Main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page3Main .mainItem{
    width: 3.37rem;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    margin-bottom: 0.2rem;
}
.page3Main .mainItem .itemImg img{
    width: 100%;
}
.page3Main .mainItem .itemTitle{
    width: 100%;
    text-align: center;
    font-size: 0.22rem;
    color: #333333;
    line-height: 0.6rem;
}

/* 专家团队 */
.page4{
}
.page4 .innerHeader{
    margin-bottom: 0.3rem;
}
.page4Main{
    padding-bottom: .3rem;
    position: relative;
}
.page4Main .teamDetail{
    width: 5.76rem;
    overflow:hidden;
    margin: 0 auto;
}
.page4Main .teamDetail .teamDetail-wrapper{
    position: relative;
    width: auto;
    white-space: nowrap;
}
.page4Main .teamDetail .teamDetail-wrapper .teamDetail-slide{
    display: inline-block;
    width: 2.87rem;
    margin-right: .1rem;
    vertical-align: middle;
}
.page4Main .slideImg{
    padding-top: 10px;
    background: #f3f3f3;
}
.page4Main .slideImg img{
    max-width: 100%;
    height: 3.44rem;
    display: block;
    margin: 0 auto;
}
.page4Main .slideText{
    padding: .2rem .1rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.2rem;
    color: #666666;
}
.page4Main .slideText .name{
    font-size: .24rem;
    font-weight: 700;
    margin-right: .1rem;
    color: #333333;
}
.page4Main .tools{
    position: absolute;
    top: 37%;
    width: 100%;
}
.page4Main .tools .prevBtn{
    position: absolute;
    left: 0;
    top: 0;
    width: .28rem;
    height: .24rem;
    background: url(../img/prev.png) no-repeat center center;
    background-size: .28rem .24rem;
    cursor: pointer;
}
.page4Main .tools .nextBtn{
    position: absolute;
    right: 0;
    top: 0;
    width: .28rem;
    height: .24rem;
    background: url(../img/next.png) no-repeat center center;
    background-size: .28rem .24rem;
    cursor: pointer;
}

/* 客户见证 */
.page5{
}
.page5 .page5Main{
    padding-bottom: .3rem;
}
.page5 .page5Main .mainItem{
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: .2rem;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding-top: .2rem;
}
.page5 .page5Main .mainItem:last-child{
    border-bottom: 1px solid #ffffff;
}
.page5 .page5Main .mainItem .itemLeft{
    margin-right: .3rem;
}
.page5 .page5Main .mainItem .itemLeft img{
    display: block;
    width: 2.4rem;
    height: 1.6rem;
}
.page5 .page5Main .mainItem .itemRight{
}
.page5 .page5Main .mainItem .itemRight .itemTitle{
    font-size: 0.26rem;
    line-height: 0.38rem;
    color: #333;
    margin-bottom: 0.04rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.page5 .page5Main .mainItem .link{
    position: absolute;
    bottom: 0.2rem;
    right: 0;
}
.page5 .page5Main .mainItem .link span{
    display: block;
    width: 1.3rem;
    height: 0.46rem;
    line-height: .46rem;
    text-align: center;
    background-color: #e42f31;
    font-size: 0.22rem;
    color: #fff;
    border-radius: 1rem;
}

/* 品牌荣誉 */
.page6 .page6Main{
    width: 100%;
    overflow: hidden;
}
.page6 .page6Main .honor{
    position: relative;
    white-space: nowrap;
}
.page6 .page6Main .honor .honorItem{
    display: inline-block;
    width: 3.37rem;
    height: 2.24rem;
    margin-right: .1rem;
}
.page6 .page6Main .honor .honorItem img{
    width: 100%;
    height: 100%;
}
.page6 .honorPagination{
    white-space: nowrap;
    text-align: center;
}
.page6 .honorPagination span{
    display: inline-block;
    width: .1rem;
    height: .1rem;
    border: 1px solid #666666;
    border-radius: 50%;
    margin: 0 .05rem;
}
.page6 .honorPagination span.action{
    background-color: #666666;
}

/* 华星动态 */
.page7{
}
.page7 .hotMain .firstItem .itemText .itemTitle{
    margin-bottom: 0.1rem;
    font-size: 0.28rem;
}
.page7 .hotMain .firstItem .itemText .itemTime{
    width: 3.96rem;
    font-size: 0.22rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.page7 .hotMain .item{
    padding-left: 0;
}
.page7 .hotMain .item::before{
    display: none;
}
.page7 .pageLink a{
    width: 3.2rem;
    height: 0.7rem;
    padding: 0;
    background: #fff;
    border: 1px solid #e42f31;
    color: #e42f31;
    border-radius: 5rem;
}


/* 关于华星 */
.main{
    width: 7.5rem;
    margin: 0 auto;
}
.main .inner{
    width: 100%;
    padding: .3rem .3rem 0;
    box-sizing: border-box;
}
.main .inner .mainTitle{
    width: 100%;
    padding: .3rem .3rem 0;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0.3rem;
}
.main .inner .mainTitle .title{
    font-size: 0.36rem;
    color: #333333;
}
.main .inner .mainTitle .Eg{
    position: relative;
    font-size: 0.22rem;
    line-height: 0.6rem;
    color: #666666;
}
.main .inner .mainTitle .Eg span{
    display: inline-block;
    vertical-align: middle;
}
.main .inner .mainTitle .Eg .lineL,.main .inner .mainTitle .Eg .lineR{
    width: .45rem;
    height: 1px;
    background: #eee;
}
.main .inner .mainTitle .Eg .lineL{
}
.main .inner .mainTitle .Eg .lineR{
}

/* 华星介绍 */
.main .presentation{
    padding-bottom: 1rem;
}
.main .presentation .mainContent{
    width: 100%;
    line-height: 0.48rem;
}
.main .presentation .mainContent h3,.main .presentation .mainContent p{
    display: inline-block;
    margin-bottom: 0.3rem;
    width: 100%;
    font-size: 0.22rem;
    text-indent: 2em;
}
.main .presentation .mainContent img{
    width: 100%;
    margin-bottom: 0.2rem;
}
.videoBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
}
.videoBox .boxBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.videoBox .videoCont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    background: #fff;
    transform: translate(-50%,-50%);
}
.videoBox .videoCont #video{
    width: 100%;
    height: 100%;
}

/* 时间轴 */
.main .corporateHistory{
    padding-bottom: 1rem;
}
.main .corporateHistory .mainContent .timerShaft{
}
.main .corporateHistory .mainContent .timerShaft .timerItem{
    position: relative;
    padding-left: .4rem;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .timerTop{
    position: absolute;
    left: .4rem;
    top: 0;
    transform: translate(-50%,0);
}
.main .corporateHistory .mainContent .timerShaft .timerItem .timerTop img{
    width: 0.19rem;
    height: 0.16rem;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText{
    border-left: 1px solid #2d88c3;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText .itemTitle{
    font-size: .24rem;
    border-bottom: 1px solid #2d88c3;
    text-align: right;
    padding: .65rem 0 .15rem 0;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText .itemTitle .year{
    font-weight: 700;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText .itemTitle .point{
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #1D86C7;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -2px;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText .itemContent{
    position: relative;
    font-size: 14px;
    padding: .3rem 0 0 .3rem;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText .itemContent .timerPoint{
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%)
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText .itemContent p{
    margin-bottom: .3rem;
    padding-left: .3rem;
    font-size: 0.2rem;
    background: url(../img/point.png) no-repeat left center;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemText .itemContent p:last-child{
    margin-bottom: 0px;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemImg{
    padding-top: .3rem;
    padding-left: .3rem;
    border-left: 1px solid #2d88c3;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .itemImg img{
    width: 3.8rem;
    height: 1.3rem;
}
.main .corporateHistory .mainContent .timerShaft .timerItem .timerLogo{
    position: absolute;
    bottom: 0;
    left: .4rem;
    transform: translate(-50%,100%);
}
.main .corporateHistory .mainContent .timerShaft .timerItem .timerLogo img{
    width: 0.61rem;
    height: 0.61rem;
}

/* 荣誉奖项 */
.main .awards{
    width: 100%;
    padding: .3rem .1rem 1rem;
}
.main .awards .mainTitle{
    margin-bottom: 0.2rem;
}
.main .awards .mainContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.2rem;
}
.awards .awardItem{
    position: relative;
    border: 1px solid #f3f3f3;
    margin-bottom: 22px;
    width: 3.55rem;
}
.awards .awardItem .itemImg{
    padding: .2rem .28rem;
    background: #f3f3f3;
}
.awards .awardItem .itemImg img{
    max-width: 3rem;
    max-height: 2.25rem;
    display: block;
    margin: 0 auto;
}
.awards .awardItem .itemText{
    padding: 0 .1rem;
    line-height: 0.55rem;
    font-size: 0.22rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 奖项弹窗 */
.awardPopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.awardPopUp .popBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
}
.awardPopUp .popCont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    background: #fff;
    transform: translate(-50%,0%);
    padding: 1rem 0;
}
.awardPopUp .popCont .closePop{
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: .5rem;
    height: .5rem;
    background: url(../img/close_white.png) no-repeat center center rgba(0,0,0,.3);
    background-size: .2rem;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%,120%);
}
.awardPopUp .popCont .popImg img{
    display: block;
    max-width: 3rem;
    max-height: 2.25rem;
    margin: 0 auto;
}
.awardPopUp .popCont .popTitle{
    text-align: center;
    padding: 20px 0;
    font-size: 0.22rem;
}
.awardPopUp .popCont .popText{
    color: #666;
    padding: 0 .6rem;
    text-indent: 2em;
    line-height: 0.38rem;
    font-size: 0.2rem;
}

/* 华星公益 */
.main.community .inner{
    padding-bottom: 1rem;
}
.main.community .page2 .inner{
    padding: 0 0 1rem 0;
}
.main.community .page1 .inner .pageLeft{
    font-family: "YRDZSTRegular";
    line-height: .32rem;
    color: #333333;
    margin-bottom: 0.53rem;
}
.main.community .page1 .inner .pageLeft .title{
    display: block;
    max-height: 100%;
    text-align: center;
    font-size: .36rem;
    margin-bottom: .25rem;
}
.main.community .page1 .inner .pageLeft .text{
    display: block;
    max-height: 100%;
    text-indent: 2em;
    font-size: .22rem;
    margin-bottom: 0.29rem;
}
.main.community .page1 .inner .pageLeft .preface{
    display: block;
    max-height: 100%;
    font-size: .22rem;
}
.main.community .page1 .inner .pageLeft .text:last-child{
    margin-bottom: 0.6rem;
}
.main.community .page1 .inner .pageRight{
}
.main.community .page1 .inner .pageRight img{
    display: block;
    width: 6.9rem;
    height: 5.18rem;
    margin: 0 auto;
}

.main.community .page2{
    background: #f8f8f8;
}
.main.community .page2 .inner .pageRight{
    padding-top: 1rem;
}
.main.community .page2 .inner .pageRight .title{
    font-size: .36rem;
    margin-bottom: .4rem;
    padding-left: .6rem;
}
.main.community .page2 .inner .pageRight .text{
    font-size: .26rem;
    margin-bottom: .2rem;
    font-family: "MicroSoft Yahei";
    padding-left: .6rem;
}
.main.community .page2 .inner .pageRight .text span{
    display: inline-block;
}
.main.community .page2 .inner .pageRight .communityPoint{
    padding-left: .6rem;
}
.main.community .page2 .inner .pageRight .communityPoint img{
    width: 0.77rem;
    height: 0.77rem;
}
.main.community .page2 .inner .pageRight .text .colorRed{
    color: #b02728;
    font-weight: 700;
}
.main.community .page2 .inner .pageLeft{
}
.main.community .page2 .inner .pageLeft .map{
    position: relative;
}
.main.community .page2 .inner .pageLeft .map canvas{
    width: 7.5rem;
    height: 6.02rem;
}

/* 创始人 */
.main.origin .inner{
    padding-bottom: .45rem;
}
.main .originator{
    width: 100%;
}
.main .originator .originatorImg{
    width: 6.9rem;
    height: 8.33rem;
    margin-bottom: 0.9rem;
}
.main .originator .originatorImg img{
    display: block;
    width: 100%;
    height: 100%;
}
.main .originator .originatorText{
    width: 100%;
}
.main .originator .originatorText .title{
    display: block;
    max-height: 100%;
    font-size: 0.6rem;
    font-family: "SimSun";
    font-weight: 700;
    color: #333;
}
.main .originator .originatorText .Eg{
    display: block;
    max-height: 100%;
    font-size: 0.26rem;
    color: #2d88c4;
    line-height: 0.82rem;
}
.main .originator .originatorText .text{
    display: block;
    max-height: 100%;
    font-size: 0.28rem;
    color: #333;
    margin-bottom: 0.55rem;
}
.main .originator .originatorText .content{
    display: block;
    max-height: 100%;
    font-size: 0.22rem;
    line-height: 0.36rem;
    text-indent: 2em;
    color: #333;
}
.main .originator .originatorText .img img{
    float: right;
    width: 1.43rem;
    height: 0.73rem;
    margin-top: 0.25rem;
}

/* 分院负责人 */
.main.principal .inner{
    padding-bottom: .7rem;
}
.main.principal .mainContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.4rem;
}
.main.principal .mainContent .principalItem{
    width: 3.35rem;
    margin-bottom: 0.2rem;
}
.main.principal .mainContent .principalItem .itemImg{
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: .25rem .5rem 0 .8rem;
}
.main.principal .mainContent .principalItem .itemImg img{
    display: inline-block;
    height: 3.76rem;
    max-width: 100%;
}
.main.principal .mainContent .principalItem .itemText{
    display: block;
    width: 100%;
    background: url(../img/yjt.png) no-repeat 95% center;
    background-size: .24rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.68rem;
    border: 1px solid #e5e5e5;
    border-top-width: 0;
    padding: 0 .4rem 0 .1rem;
    box-sizing: border-box;
}
.main.principal .mainContent .principalItem .itemText .name{
    font-size: 0.26rem;
    margin-right: .2rem;
}
.main.principal .mainContent .principalItem .itemText .city{
    font-size: 0.22rem;
}

/* 分公司负责人详情 */
.main.principalDetail .inner{
    padding-top: .41rem;
    padding-bottom: .79rem;
}
.main.principalDetail .mainContent .detailHeader{
    width: 100%;
    margin-bottom: 0.4rem;
    overflow: hidden;
}
.main.principalDetail .mainContent .detailHeader .headerImg{
    float: left;
    margin-right: .41rem;
    background-color: #f8f8f8;
    box-sizing: border-box;
    padding: .25rem .5rem 0 .8rem;
    text-align: center;
}
.main.principalDetail .mainContent .detailHeader .headerImg img{
    display: inline-block;
    height: 3.76rem;
    max-width: 100%;
}
.main.principalDetail .mainContent .detailHeader .headerText{
    float: left;
    padding-top: 0.6rem;
}
.main.principalDetail .mainContent .detailHeader .headerText .name{
    font-size: 0.28rem;
    margin-bottom: 0.4rem;
    color: #333;
}
.main.principalDetail .mainContent .detailHeader .headerText .content{
    font-size: 0.22rem;
    line-height: 0.36rem;
    color: #333;
}
.main.principalDetail .mainContent .detailCont{
    margin-bottom: 0.31rem;
}
.main.principalDetail .mainContent .detailCont .contTitle{
    display: inline-block;
    padding: 0 .23rem;
    background-color: #2d88c4;
    color: #fff;
    line-height: 0.46rem;
    text-align: center;
    font-size: 0.24rem;
    border-radius: .05rem;
    margin-bottom: 0.19rem;
}
.main.principalDetail .mainContent .detailCont .contText{
    display: block;
    max-height: 100%;
    width: 100%;
    line-height: 0.36rem;
    font-size: 0.24rem;
    color: #333;
}

/* 分支机构 */
.main.embranchment .inner{
    padding-top: .3rem;
    padding-bottom: .56rem;
}
.main.embranchment .mainContent .filter{
    font-size: 0.22rem;
    color: #333;
    line-height: 0.56rem;
    background-color: #f8f8f8;
}
.main.embranchment .mainContent .filter span,
.main.embranchment .mainContent .filter select{
    display: inline-block;
    vertical-align: middle;
}
.main.embranchment .mainContent .filter select{
    width: 1.25rem;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;
    background: url("../img/xjt.png") no-repeat right center;
    background-size: .1rem .07rem;
    padding-left: .1rem;
    box-sizing: border-box;
    outline: none;
}
.main.embranchment .mainContent .embranchmentList{
}
.main.embranchment .mainContent .embranchmentList .listItem{
    position: relative;
    padding: .3rem 0;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}
.main.embranchment .mainContent .embranchmentList .listItem .itemLeft{
    margin-right: .2rem;
}
.main.embranchment .mainContent .embranchmentList .listItem .itemLeft img{
    display: block;
    width: 2.8rem;
    height: 1.87rem;
}
.main.embranchment .mainContent .embranchmentList .listItem .itemRight{
    max-width: 3.94rem;
    padding-right: .3rem;
    padding-top: .1rem;
    box-sizing: border-box;
}
.main.embranchment .mainContent .embranchmentList .listItem .itemRight .title{
    display: block;
    max-height: 100%;
    font-weight: 400;
    font-size: .28rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.31rem;
}
.main.embranchment .mainContent .embranchmentList .listItem .itemRight .text{
    display: block;
    max-height: 100%;
    color: #666;
    line-height: .32rem;
    font-size: 0.22rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main.embranchment .mainContent .embranchmentList .listItem .link{
    position: absolute;
    bottom: .3rem;
    right: 0;
}
.main.embranchment .mainContent .embranchmentList .listItem .link span{
    display: block;
    max-height: 100%;
    width: 1.3rem;
    height: .42rem;
    line-height: .42rem;
    text-align: center;
    background: #fff;
    background-color: #D51717;
    color: #fff;
    border-radius: 2rem;
    font-size: 0.22rem;
}

/* 分支机构详情 */
.main.embranchmentDetail .inner{
    padding-top: .5rem;
    padding-bottom: .35rem;
}
.embranchmentDetail .branch{
    margin-bottom: 0.74rem;
}
.embranchmentDetail .branch .branchLeft{
    margin-top: .19rem;
}
.embranchmentDetail .branch .branchLeft img{
    width: 6.87rem;
    height: 4.58rem;
}
.embranchmentDetail .branch .branchRight{
}
.embranchmentDetail .branch .branchRight .title{
    display: block;
    max-height: 100%;
    font-size: .28rem;
    color: #333333;
    margin-bottom: 0.31rem;
}
.embranchmentDetail .branch .branchRight .text{
    display: block;
    max-height: 100%;
    color: #666;
    text-indent: 2em;
    line-height: .36rem;
    font-size: 0.22rem;
}
.embranchmentDetail .team{
    position: relative;
    margin-bottom: .9rem;
}
.embranchmentDetail .team .title,.embranchmentDetail .contact .title{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: .4rem;
    line-height: .42rem;
}
.embranchmentDetail .team .title .bg,.embranchmentDetail .contact .title .bg{
    display: inline-block;
    background: url(../img/embranchmentBg.png) no-repeat left center;
    background-size: 100%;
    padding: 0 .26rem;
}
.embranchmentDetail .team .title .CN,.embranchmentDetail .contact .title .CN{
    display: inline-block;
    font-size: .26rem;
    color: #333333;
}
.embranchmentDetail .team .title .Eg,.embranchmentDetail .contact .title .Eg{
    display: inline-block;
    font-size: .22rem;
    color: #666;
}
.embranchmentDetail .team .teamDetail{
    padding: 0 .53rem;
    overflow:hidden;
    box-sizing: border-box;
}
.embranchmentDetail .team .slideImg{
    padding-top: .1rem;
    background: #f3f3f3;
}
.embranchmentDetail .team .slideImg img{
    max-width: 100%;
    height: 3.04rem;
    display: block;
    margin: 0 auto;
}
.embranchmentDetail .team .slideText{
    padding: .2rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.embranchmentDetail .team .slideText .name{
    font-size: .24rem;
    font-weight: 700;
    color: #333333;
}
.embranchmentDetail .team .slideText .city{
    font-size: .2rem;
    color: #333333;
}
.embranchmentDetail .team .tools{
    position: absolute;
    top: 50%;
    width: 100%;
}
.embranchmentDetail .team .tools .prevBtn{
    position: absolute;
    left: 0px;
    top: 0;
    width: .44rem;
    height: .44rem;
    background: url(../img/icon-left.png) no-repeat center center #e5e5e5;
    background-size: .1rem .2rem;
    border-radius: 50%;
}
.embranchmentDetail .team .tools .nextBtn{
    position: absolute;
    right: 0px;
    top: 0;
    width: .44rem;
    height: .44rem;
    background: url(../img/icon-right.png) no-repeat center center #e5e5e5;
    background-size: .1rem .2rem;
    border-radius: 50%;
}
.embranchmentDetail .contact .contactDetail .contactLeft{
    padding-top: .2rem;
}
.embranchmentDetail .contact .contactDetail .contactLeft p{
    display: block;
    max-height: 100%;
    font-size: .24rem;
    padding-left: .3rem;
    margin-bottom: 0.22rem;
}
.embranchmentDetail .contact .contactDetail .contactLeft p.leftTitle{
    font-size: .28rem;
    background: url(../img/mapPoint.png) no-repeat left center;
    background-size: .19rem .24rem;
    margin-bottom: .42rem;
}
.embranchmentDetail .contact .contactDetail .contactLeft p.address{
    margin-bottom: .51rem;
}
.embranchmentDetail .contact .contactDetail .contactLeft p.route{
    background: url(../img/bus.png) no-repeat .3rem center;
    background-size: .25rem;
    padding-left: .7rem;
    color: #1984C8;
    margin-bottom: 0.54rem;
}
.embranchmentDetail .contact .contactDetail .contactLeft p .bold{
    font-weight: 700;
}
.embranchmentDetail .contact .contactDetail .contactRight{
}

/* 商学 */
.main.productService .inner{
    padding-top: .5rem;
    padding-bottom: .1rem;
}
.main.productService .mainContent .businessStudiesTitle{
    text-indent: 2em;
    font-size: 0.24rem;
    line-height: .42rem;
    margin-bottom: .3rem;
}
.main.productService .mainContent .studiesDetail{
    border-top: 1px solid #e5e5e5;
}
.main.productService .mainContent .studiesDetail .item{
    position: relative;
    padding: .3rem 0;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}
.main.productService .mainContent .studiesDetail .item .itemImg{
    margin-right: .2rem;
}
.main.productService .mainContent .studiesDetail .item .itemImg img{
    display: block;
    width: 2.8rem;
    height: 1.87rem;
}
.main.productService .mainContent .studiesDetail .item .content{
    max-width: 3.94rem;
    padding-top: .1rem;
    box-sizing: border-box;
}
.main.productService .mainContent .studiesDetail .item .content .title{
    display: block;
    max-height: 100%;
    font-weight: 400;
    font-size: .26rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.2rem;
}
.main.productService .mainContent .studiesDetail .item .content .text{
    display: block;
    max-height: 100%;
    color: #666;
    line-height: .3rem;
    font-size: 0.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main.productService .mainContent .studiesDetail .item .link{
    position: absolute;
    bottom: .3rem;
    right: 0;
}
.main.productService .mainContent .studiesDetail .item .link span{
    display: block;
    max-height: 100%;
    width: 1.2rem;
    height: .42rem;
    line-height: .42rem;
    text-align: center;
    background: #fff;
    border: 1px solid #D51717;
    color: #D51717;
    border-radius: 2rem;
    font-size: 0.2rem;
}
.main.productService .mainContent .studiesDetail .item:last-child{
    border-bottom: 0px solid #e5e5e5;
}

/* 商学列表 */
.main.commercial .inner{
    padding-top: .2rem;
    padding-bottom: .35rem;
}
.main.commercial .commercialTitle{
    text-indent: 2em;
    font-size: 0.24rem;
    line-height: .42rem;
    margin-bottom: .3rem;
}
.main.commercial .inner .mainContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.main.commercial .inner .mainContent .commercialItem{
    position: relative;
    width: 3.35rem;
    padding: .07rem .07rem .25rem;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 0.2rem;
}
.main.commercial .inner .mainContent .commercialItem .itemImg{
    width: 100%;
    height: 1.69rem;
    margin-bottom: 0.24rem;
}
.main.commercial .inner .mainContent .commercialItem .itemImg img{
    display: block;
    width: 100%;
    height: 100%;
}
.main.commercial .inner .mainContent .commercialItem .itemTitle{
    width: 100%;
    font-size: 0.26rem;
    color: #333333;
    margin-bottom: 0.19rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main.commercial .inner .mainContent .commercialItem .itemCont{
    width: 100%;
    font-size: 0.2rem;
    color: #666666;
    margin-bottom: 0.211rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main.commercial .inner .mainContent .commercialItem .link{
    overflow: hidden;
}
.main.commercial .inner .mainContent .commercialItem .link span{
    float: right;
    width: 1.2rem;
    height: 0.42rem;
    border: 1px solid #d10e20;
    color: #d10e20;
    border-radius: 2rem;
    text-align: center;
    line-height: 0.42rem;
    font-size: 0.2rem;
}

/* 商学课程详情 */
.main.commercialDetail .inner{
    padding-top: .4rem;
    padding-bottom: .44rem;
}
.main.commercialDetail .mainContent .detailImg{
    width: 6.2rem;
    height: 3.64rem;
    margin: 0 auto .5rem;
}
.main.commercialDetail .mainContent .detailImg img{
    width: 100%;
    height: 100%;
    display: block;
}
.main.commercialDetail .mainContent .detailHeader{
    margin-bottom: 0.4rem;
}
.main.commercialDetail .mainContent .detailHeader .headerTitle{
    font-size: .32rem;
    color: #333333;
    margin-bottom: 0.25rem;
}
.main.commercialDetail .mainContent .detailHeader .headerText{
    font-size: .26rem;
    color: #666666;
    margin-bottom: 0.21rem;
}
.main.commercialDetail .mainContent .detailHeader .headerMsg{
    width: 5rem;
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: .21rem;
    background: #f3f3f3;
    font-size: .2rem;
    color: #666666;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
}
.main.commercialDetail .mainContent .detailHeader .headerMsg i{
    margin: 0 .21rem;
}
.main.commercialDetail .mainContent .detailHeader .headerContent{
    margin-bottom: 0.19rem;
    font-size: 0.22rem;
    color: #666666;
    display: flex;
    line-height: 0.3rem;
}
.main.commercialDetail .mainContent .detailHeader .headerContent .blue{
    white-space: nowrap;
    color: #1e75b1;
}
.main.commercialDetail .mainContent .detailHeader .headerContent .cont{
}
.main.commercialDetail .mainContent .share{
    margin-bottom: 0.68rem;
}
.main.commercialDetail .mainContent .share .link a{
    width: 1.2rem;
    height: 0.42rem;
    line-height: 0.42rem;
    font-size: 0.2rem;
    color: #d10e20;
    border: 1px solid #d10e20;
    border-radius: 2rem;
    text-align: center;
    float: right;
}
.main.commercialDetail .mainContent .share .text{
    float: left;
    font-size: .22rem;
    padding-left: 17px;
    line-height: 16px;
    height: 16px;
    margin: 6px 6px 6px 0;
}
.main.commercialDetail .mainContent .courseMsg .msgBlock{
    margin-bottom: 0.32rem;
}
.main.commercialDetail .mainContent .courseMsg .msgBlock:last-child{
    margin-bottom: 0rem;
}
.main.commercialDetail .mainContent .courseMsg .msgBlock .courseTitle{
    display: inline-block;
    padding: 0 .11rem;
    padding-right: 0.21rem;
    font-size: 0.24rem;
    color: #fff;
    background: #2d88c4;
    line-height: 0.44rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 0.21rem;
}
.main.commercialDetail .mainContent .courseMsg .msgBlock .courseText{
    font-size: 0.22rem;
    color: #666666;
    line-height: 0.36rem;
    margin-bottom: 0.21rem;
}
.main.commercialDetail .mainContent .courseMsg .msgBlock .courseImg{
}
.main.commercialDetail .mainContent .courseMsg .msgBlock .courseImg img{
    width: 100%;
}

/* 联系我们 */
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p{
    background: none;
    padding-left: 0;
}
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.phone,
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.qq,
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.mail,
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.address,
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.route{
    background: url(../img/phone2.png) no-repeat left center;
    background-size: .25rem;
    padding-left: .4rem;
}
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.qq{
    background-image: url(../img/msg2.png);
}
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.mail{
    background-image: url(../img/mail.png);
}
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.address{
    background-image: url(../img/mapP.png);
}
.main.embranchmentDetail.aboutUs .contact .contactDetail .contactLeft p.route{
    background-image: url(../img/bus.png);
}