.date_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
}

.date_box {
    width: 4.22rem;
    position: relative;
    margin: 70% auto 0 auto;
    background-color: #fff;
    padding: 0.2rem 0.4rem;
    box-sizing: border-box;
}

.date_box .date_item {
    margin-top: 0.3rem;
}

.date_box .date_item p {
    font-size: 0.22rem;
    padding-bottom: 0.2rem;
}

.del_imgs {
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
}

/*加入华星-详情*/
.job_top {
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}

.job_top .job_name {
    margin-bottom: 0.4rem;
}

.job_top .job_name p {
    float: left;
}

.job_top .job_name p:first-child {
    font-size: 0.24rem;
    padding: 0 0.1rem;
    line-height: 0.24rem;
    border-left: 2px solid #1a85ca;
}

.job_top .job_name p:first-child + p {
    color: #999999;
    float: right;
    font-size: 0.18rem;
}

.job_top .job_tj {
    padding-left: 0.1rem;
    padding-bottom: 0.15rem;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.job_top .job_tj p {
    float: left;
    font-size: 0.22rem;
}

.job_top .job_tj p:first-child + p {
    margin-left: 1.08rem;
}

.job_top .job_tj p:first-child + p + p {
    float: right;
}

.job_info {
    padding: 0.3rem;
    box-sizing: border-box;
}

.job_info .info_item {
    margin-bottom: 0.3rem;
}

.job_info .info_item > p {
    font-size: 0.24rem;
    margin-bottom: 0.1rem;
}

.job_info .info_item div p {
    font-size: 0.22rem;
    margin-bottom: 0.1rem;
    line-height: 0.34rem;
}

.job_info .info_item div p span {
    display: inline-block;
    float: left;
}

.job_info .info_item div p span:first-child {
    width: 5%;
}

.job_info .info_item div p span:first-child + span {
    width: 95%;
}

.job_table {
    padding: 0.3rem;
    min-height: 7rem;
    box-sizing: border-box;
}

.job_table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.1rem;
}

.job_table table tr th {
    color: #fff;
    text-align: center;
    font-size: 0.22rem;
    line-height: 0.7rem;
    background-color: #2d88c4;
}

.job_table table tr td {
    text-align: center;
    font-size: 0.22rem;
    line-height: 0.7rem;
    background-color: #f8f8f8;
}

.job_table table tr td:first-child {
    font-weight: bold;
}

.job_table table tr td a {
    display: inline-block;
    width: 1.2rem;
    height: 0.42rem;
    color: #d10e20;
    text-align: center;
    line-height: 0.42rem;
    border-radius: 0.21rem;
    border: 1px solid #d10e20;
}

.page_box {
    text-align: center;
    padding: 0.6rem 0;
}

.page_ul {
    display: inline-block;
}

.page_ul li {
    margin: 0 0.05rem;
    float: left;
}

.page_ul li a {
    display: block;
    width: 0.46rem;
    height: 0.46rem;
    line-height: 0.46rem;
    text-align: center;
    border: 1px solid #e5e5e5;
    color: #999;
    font-size: 0.22rem;
}

.page_ul li a:hover, .act_a a {
    color: #d10e20 !important;
    border: 1px solid #d10e20 !important;
}

.tab_ul {
    text-align: center;
    background-color: #f3f3f3;
}

.tab_ul li {
    display: inline-block;
    margin: 0 0.4rem;
}

.tab_ul li a {
    display: inline-block;
    line-height: 0.85rem;
    font-size: 0.26rem;
    padding: 0 0.3rem;
}

.tab_act a {
    color: #1a85ca !important;
    box-sizing: border-box;
    border-bottom: 2px solid #1a85ca !important;
}

.list_box {
    padding: 0 0.3rem;
    box-sizing: border-box;
}

.list_box a {
    display: block;
    padding: 0.3rem 0;
    border-bottom: 1px solid #e5e5e5;
}

.list_box a > img {
    width: 2.8rem;
    height: 1.86rem;
}

.list_box a .list_main {
    width: 3.9rem;
    padding: 0.1rem 0;
}

.list_box a .list_main div:first-child {
    font-size: 0.28rem;
    margin-bottom: 0.2rem;
}

.list_box a .list_main div:first-child + div {
    font-size: 0.22rem;
    color: #666;
    margin-bottom: 0.15rem;
}

.list_box a .list_main div:first-child + div + div p {
    float: left;
    color: #666;
    font-size: 0.18rem;
    margin-right: 0.24rem;
}

.list_box a .list_main div:first-child + div + div p img,
.list_box a .list_main div:first-child + div + div p span {
    float: left;
    display: block;
}

.list_box a .list_main div:first-child + div + div p img {
    width: 0.19rem;
    height: 0.19rem;
    margin: 0.03rem 0.05rem 0 0;
}

.list_box a .list_main div:first-child + div + div p:first-child + p {
    color: #999999;
}

.details_box {
    padding: 0 0.3rem;
    box-sizing: border-box;
}

.details_box .list_title {
    padding: 0.52rem 0.2rem 0.2rem 0.2rem;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.details_box .list_title > p {
    font-size: 0.26rem;
    margin-bottom: 0.3rem;
}

.details_box .list_title div {
    display: inline-block;
}

.details_box .list_title div p {
    float: left;
    color: #666;
    font-size: 0.18rem;
    margin: 0 0.3rem;
}

.details_box .list_title div p img,
.details_box .list_title div p span {
    float: left;
}

.details_box .list_title div p img {
    width: 0.2rem;
    height: 0.2rem;
    margin: 0.02rem 0.05rem;
}

.details_box .list_title div p:first-child + p {
    color: #999;
}

.list_details_main {
    padding: 0.2rem 0 0.5rem 0;
    border-bottom: 2px dashed #ccc;
}

.list_details_main p {
    float: left;
    color: #666;
    width: 100%;
    display: block;
    font-size: 0.22rem;
    padding: 0.2rem 0 0 0;
    text-indent: 2em;
    line-height: 0.36rem;
    max-height: 100%;
}

.list_details_main img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.step_pian{
    padding: 0.3rem 0;
    border-bottom: 1px solid #e5e5e5;
}
.step_pian a{
    display: block;
    width: 100%;
    color:#666;
    font-size: 0.22rem;
}
.step_pian a:first-child{
    margin-bottom: 0.05rem;
}
.step_pian a span{
    color:#333;
}
.you_like{
    padding: 0.5rem 0;
}
.you_like p{
    padding-left: 0.1rem;
    font-size: 0.28rem;
    line-height: 0.28rem;
    margin-bottom: 0.3rem;
    border-left: 2px solid #2d89c3;
}
.you_like ul li{
    margin-top: 0.1rem;
    padding-left: 0.1rem;
}
.you_like ul li a{
    display: block;
    width: 80%;
    font-size: 0.22rem;
    color: #666;
}
.kh_list{
    margin: 0.3rem 0.3rem 0 0.3rem;
    height: 0.56rem;
    font-size: 0.22rem;
    padding: 0 0.1rem;
    background-color: #f3f3f3;
    box-sizing: border-box;
}
.kh_list form p{
    color:#333;
    margin-top: 0.12rem;
}
.kh_list form>div{
    margin-right: 0.15rem;
}
.kh_list form div span{
    color:#666;
    float: left;
    margin-top: 0.12rem;
    margin-right: 0.05rem;
}
.kh_list form div input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 0.37rem;
    color:#666;
    padding: 0 0.1rem;
    line-height: 0.37rem;
    border:1px solid #bbb;
    margin-top: 0.09rem;
    font-size: 0.2rem !important;
    background-color: transparent;
}
.kh_list form div select option{
    font-size: 0.2rem !important;
}
.kh_main a .list_main div:first-child + div + div p:first-child{
    margin-top: 0.1rem;
}
.kh_main a .list_main div:first-child + div + div p:first-child+p{
    width: 1.3rem;
    height: 0.42rem;
    color: #fff;
    float: right !important;
    font-size: 0.22rem;
    text-align: center;
    line-height: 0.42rem;
    border-radius: 0.21rem;
    background-color: #d10e20;
}
.list_box a .list_main div:first-child + div + div p img{
    width: 0.16rem;
    height: auto;
    margin: 0.01rem 0.05rem 0 0;
}
.kh_list form div .select_div{
    position: relative;
}
.kh_list form div .select_div p{
    width: 1.2rem;
    height: 0.37rem;
    color:#666;
    padding: 0 0.1rem;
    line-height: 0.37rem;
    border:1px solid #bbb;
    margin-top: 0.09rem;
    font-size: 0.2rem !important;
}
.kh_list form div .select_div ul{
    position: absolute;
    top:0.55rem;
    left:0;
    width: 100%;
    padding: 0.1rem;
    background-color: #fff;
    box-shadow: 0 0 0.05rem 0.02rem #e5e5e5;
}
.kh_list form div .select_div ul li{
    text-align: center;
    padding: 0.15rem 0;
    border-top: 1px solid #e5e5e5;
}
.kh_list form div .select_div ul li:first-child{
    border-top: 0;
}





















