.date_bg{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: none;
}
.date_box{
    width: 4.22rem;
    position: relative;
    margin: 70% auto 0 auto;
    background-color: #fff;
    padding: 0.2rem 0.4rem;
    box-sizing: border-box;
}
.date_box .date_item{
    margin-top: 0.3rem;
}
.date_box .date_item p{
    font-size: 0.22rem;
    padding-bottom: 0.2rem;
}
.del_imgs{
    position: absolute;
    bottom:-0.7rem;
    left:0;
    right:0;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
}

/*加入华星-详情*/
.job_top{
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}
.job_top .job_name{
    margin-bottom: 0.4rem;
}
.job_top .job_name p{
    float: left;
}
.job_top .job_name p:first-child{
    font-size: 0.24rem;
    padding: 0 0.1rem;
    line-height: 0.24rem;
    border-left: 2px solid #1a85ca;
}
.job_top .job_name p:first-child+p{
    color: #999999;
    float: right;
    font-size: 0.18rem;
}
.job_top .job_tj{
    padding-left: 0.1rem;
    padding-bottom: 0.15rem;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}
.job_top .job_tj p{
    float: left;
    font-size: 0.22rem;
}
.job_top .job_tj p:first-child+p{
    margin-left: 1.08rem;
}
.job_top .job_tj p:first-child+p+p{
    float: right;
}
.job_info{
    padding: 0.3rem;
    box-sizing: border-box;
}
.job_info .info_item{
    margin-bottom: 0.3rem;
}
.job_info .info_item>p{
    font-size: 0.24rem;
    margin-bottom: 0.1rem;
}
.job_info .info_item div p{
    font-size: 0.22rem;
    margin-bottom: 0.1rem;
    line-height: 0.34rem;
}
.job_info .info_item div p span{
    display: inline-block;
    float: left;
}
.job_info .info_item div p span:first-child{
    width: 5%;
}
.job_info .info_item div p span:first-child+span{
    width: 95%;
}
.job_table{
    padding: 0.3rem;
    min-height: 7rem;
    box-sizing: border-box;
}
.job_table table{
    width: 100%;
    border-collapse:separate;
    border-spacing:0 0.1rem;
}
.job_table table tr th{
    color:#fff;
    text-align: center;
    font-size: 0.22rem;
    line-height: 0.7rem;
    background-color: #2d88c4;
}
.job_table table tr td{
    text-align: center;
    font-size: 0.22rem;
    line-height: 0.7rem;
    background-color: #f8f8f8;
}
.job_table table tr td:first-child{
    font-weight: bold;
}
.job_table table tr td a{
    display: inline-block;
    width: 1.2rem;
    height: 0.42rem;
    color:#d10e20;
    text-align: center;
    line-height: 0.42rem;
    border-radius: 0.21rem;
    border:1px solid #d10e20;
}
.page_box{
    text-align: center;
}
.page_ul{
    display: inline-block;
}
.page_ul li{
    margin: 0 0.05rem;
    float: left;
}
.page_ul li a{
    display: block;
    width: 0.46rem;
    height: 0.46rem;
    line-height: 0.46rem;
    text-align: center;
    border:1px solid #e5e5e5;
    color:#666;
    font-size: 0.22rem;
}
.page_ul li a:hover,.act_a a{
    color:#d10e20 !important;
    border:1px solid #d10e20 !important;
}
























